<body>
  <div class="container">
    <header>
      <div class="header-left">
        <img src="../assets/p.png" >

      </div>
      <div class="header-center">
        <span>Rishi Kumar Soni</span>
      </div>
      <div class="header-right">
        <a href="https://www.linkedin.com/in/rishi-soni-837381182" target="_blank" class="social-link">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://github.com/rishisoni90" target="_blank" class="social-link">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://leetcode.com/rishisoni420" target="_blank" class="social-link">
          <i class="fab fa-leetcode"></i> LeetCode
        </a>
       
      
      </div>
    </header>

    <main>
      <section class="about-me">
        <h2>About Me</h2>
        <p>
          Hello, I'm Rishi Soni, a dedicated Senior Associate Engineer at Ford Motors with a strong passion for technology and innovation. My work revolves around leveraging cutting-edge tools and methodologies to drive efficiency and excellence in every project I undertake.

          Currently, I am deeply immersed in expanding my expertise in AWS and Cloud technologies, aiming to harness their potential for groundbreaking solutions and advancements.
          
          I thrive in collaborative environments and am always eager to join forces on exciting projects that challenge the status quo and push boundaries. If you're working on something groundbreaking, let's connect and explore how we can make a difference together.
          
           
          Thank you for visiting, and I look forward to the possibility of collaborating with you to create something truly remarkable.  </p>
        <h3>Languages and Tools</h3>
        <p>
          Seasoned Software Developer with Diverse Expertise
          As an accomplished Software Developer, I possess a diverse skill set spanning Java, JSF, TypeScript, JavaScript, Angular, SQL, MySQL, Spring Boot, Microservices, and deep AWS/cloud computing knowledge. Adept at delivering high-quality, scalable solutions, I thrive on collaborating with stakeholders to understand requirements, architect robust systems, and implement innovative features. Proficient in front-end and backend technologies, I create visually appealing, user-friendly interfaces and reliable, scalable server-side components. With a proven track record of success, I am committed to leveraging the latest tools and methodologies to drive digital transformation and create lasting value for organizations.
        </p>
      </section>

      <section class="work-experience">
        <h2>Work Experience</h2>
        <div class="experience-item">
          <h3>Software Engineer</h3>
          <p>Ford Motors (Cognizant) USA – Aug 2021 – March 2024</p>
          <ul>
            <li>Develop business logic for Ford Project leveraging Java and suitable technologies to ensure precise execution. </li>
            <li>Architect and develop the frontend using Angular, JS, JSF or other modern technologies to empower users in authoring and defining rules for feature combination.</li>
              <li>	Implement REST Services utilizing Spring Boot or analogous frameworks to seamlessly distribute feature data to downstream applications. </li>
                <li>Proficiently utilized SQL Server Management Studio for database management and optimization, ensuring efficient data retrieval and manipulation for software solutions.</li>
                  <li>	Collaborate with project and business stakeholders to comprehensively understand the project requirements and devise a solution that aligns with organizational objectives Designed, wrote, tested, and CI/CD code for software solutions.</li>
                    <li>	Implemented the Agile methodology to iteratively develop and rigorously test the codebase, ensuring compliance with requirements and robustness.</li>
                      <li>	Employ advanced techniques (SonarQube & Checkmarx) and tools to optimize code performance, particularly crucial for efficiently managing extensive feature data sets within Vehicle Line programs.</li>
                        <li>Conducted comprehensive testing, including smoke testing, regression testing, and manual testing, utilizing Postman as an automation tool, ensuring the robustness and reliability of software solutions. Utilize Application Lifecycle Management (ALM) tools for securely storing testing documents, ensuring data integrity and access control. </li>

          </ul>
        </div>
      </section>

      <section class="projects">
        <h2>Projects</h2>
        
        
        <div class="project-item">
          <h3>Spring Boot CRUD - Foundational Backend Services</h3>
        
          <ul>
            <li>Created Spring Boot Application with CRUD operations & Used MySQL Database.</li>
            
          </ul>
          <a href="git@github.com:rishisoni90/CRUD-Spring.git" target="_blank" class="source-code">Source Code: https://github.com/rishisoni90/CRUD-Spring.git</a><br>
&nbsp;<br>
 </div>



 <div class="project-item">
   <h3>Full Stack Spring Customer Management</h3>

   <ul>
     <li>•	Implemented Full Stack Spring Boot Application with Angular</li>
     
   </ul>
   <a href="https://github.com/rishisoni90/FullStack-Angular-SpringBoot-.git" target="_blank" class="source-code">Source Code: https://github.com/rishisoni90/FullStack-Angular-SpringBoot-.git</a><br>
&nbsp;<br>
<a href="http://newbucketohio.s3-website.us-east-2.amazonaws.com/my-angular-project/dist/my-angular-project/browser/index.html">Working Demo: http://newbucketohio.s3-website.us-east-2.amazonaws.com/my-angular-project/dist/my-angular-project/browser/index.html</a>
</div>


        <div class="project-item">
          <h3>Basic PortFolio Project</h3>
         
          <ul>
            <li>Logical and Event-driven architectures incluing navingating to different url's.</li>
            <li>Development and Deployment of the Responsive Website.</li>
          </ul>
          <a href="https://github.com/rishisoni90/MyPortFolio.git" target="_blank" class="source-code">Source Code: https://github.com/rishisoni90/MyPortFolio.git</a><br>
&nbsp;<br>
<a href="https://my-portfolio-tau-nine-19.vercel.app/">Working Demo: https://my-portfolio-tau-nine-19.vercel.app/</a>
 </div>

        <div class="project-item">
          <h3>Android Application</h3>
          <p>J2SE, Android Studio, Firebase NOSQL Database </p>
          <ul>
            <li>Android Application Functionality assisted a user to create a profile in the android application, in which they can Interact with another domain driven microservices.</li>
            <li>90% of functionality of android were instilled.</li>
          </ul>
          <a href="https://github.com/rishisoni90/Android-Project" target="_blank" class="source-code">Source Code: https://github.com/rishisoni90/Android-Project</a>
        </div>
        <div class="project-item">
          <h3>Software Testing</h3>
          <p>Java, Junit, Pit, Eclipse - Aug 2019 – Dec 2019</p>
          <ul>
            <li>Performed basis path test for java Code.</li>
            <li>Developed Test Cases using multiple condition decision coverage (MCDC).</li>
          </ul>
          <a href="https://github.com/rishisoni90/Software-Testing" target="_blank" class="source-code">Source Code: https://github.com/rishisoni90/Software-Testing</a>
        </div>
      
      </section>

      
    </main>
  </div>
</body>